.search {
	position: relative;
	color: #fff;
	border-bottom: 1px solid #fff;
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: auto;
	height: 36px;
	width: 320px;

	input {
		flex: 2;
		border: none;
		background-color: transparent;
		outline: none;
		padding: 10px;
		color: #ffffff !important;
		font-size: 1.6rem;
		font-weight: 400;
		&::placeholder {
			color: var(--white-color);
			opacity: 0.9;
		}
		&::selection {
			background-color: var(--primary-color);
		}
	}
	.search_icon {
		color: #fff;
		font-size: 2rem;
		cursor: pointer;
	}

	.icon_close {
		position: absolute;
		color: #fff;
		font-size: 1.4rem;
		cursor: pointer;
		right: 28px;
		width: 18px;
		height: 18px;
		background-color: rgb(170, 169, 169);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition: 0.3s;

		&:active {
			transform: scale(0.8);
		}
	}
	// &.normal {
	// 	border: none;
	// 	.search-input {
	// 		border: 1px solid var(--border-color-sidebar);
	// 		transition: border 0.5s;
	// 		flex: 2;
	// 		height: 36px;
	// 		&:focus {
	// 			border: 1px solid var(--primary-color);
	// 		}
	// 	}
	// 	.search-icon {
	// 		background-color: var(--primary-color);
	// 		padding: 0;
	// 		font-size: 1.2rem;
	// 		width: 36px;
	// 		height: 100%;
	// 		align-items: center;
	// 		display: flex;
	// 		justify-content: center;
	// 		color: var(--white-color);
	// 	}
	// }
}
