.container {
	width: 100%;
	padding: 8px 12px;
	font-size: 12px;
	cursor: pointer;
	color: #666;
	margin-bottom: 3px;

	&.active {
		background: rgba(199, 229, 255, 0.5);
		&:hover {
			background: rgba(199, 229, 255, 0.5);
		}
	}

	&:hover {
		background: rgba(221, 239, 255, 0.5);
	}
}

@media (max-width: 1023px) {
	.container {
		font-size: 12px;
	}
}
