.mainEmpty {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 150px 0;

	.msg {
		font-size: 1.4rem;
		color: #000;
		margin-top: 16px;
		margin-bottom: 24px;
	}
}
