@import '../../../styles/color';
.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.btn {
		cursor: pointer;
		position: relative;
		background-color: $neutral_3;
		height: 18px;
		width: 36px;
		border-radius: 18px;
		margin-right: 8px;
		transition: 0.3s;

		.switch {
			transition: 0.3s;
			position: absolute;
			height: 13px;
			width: 13px;
			border-radius: 50%;
			background-color: #8b8578;
			left: 2px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.btn.on {
		background-color: $primary_1_1;
		.switch {
			left: 20px;
			background-color: $neutral_1;
		}
	}

	.text {
		color: #fff;
	}
}
