@import '../../../styles/color';
@import '../../../styles/variables';

.container {
	background-color: $base_bg;
	height: 100%;
}

.header {
	height: $heightHeader;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	padding-right: 0;
}

.toogleTab {
	font-size: 2.8rem;
	cursor: pointer;
	color: $primary_1_1;
	user-select: none;
}
.nav {
	overflow: auto;
}

.itemNav {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	color: $neutral_4;

	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 5px;
		height: 100%;
		background-color: $base_bg;
		border-radius: 0 5px 5px 0;
		z-index: 1;
	}

	&.active {
		color: $primary_1_1;
		background-color: $neutral_1;
		&:hover {
			opacity: 1;
			cursor: default;
		}
		&::after {
			background-color: $primary_1_1;
		}
	}

	.icon {
		display: flex;
		font-size: 2.4rem;
	}

	.text {
		white-space: nowrap;
		font-size: 1.6rem;
		margin-left: 16px;
	}
}

.formLogout {
	min-width: 400px;
	padding: 32px 24px;
	border-radius: 12px;
	background-color: $neutral_2;

	.titlePopup {
		text-align: center;
		font-size: 2.5rem;
		color: #fff;
		margin-top: 8px;
		margin-bottom: 44px;
	}

	.groupButton {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

@media (min-width: 1024px) {
	.container {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		.nav {
			flex: 1;
		}
	}
}

@media (max-width: 1023px) {
	.logout {
		display: none;
	}

	.container {
		display: flex;
		flex-direction: column;
	}

	.header {
		display: none !important;
	}

	.toogleTab {
		display: none;
	}

	.logo {
		display: none;
	}

	.nav {
		display: flex;
		flex-direction: column;
		width: 100%;
		flex: 1;
		overflow: auto;
		.text {
			display: none;
		}

		.itemNav {
			&::after {
				display: none;
			}

			&.active {
				color: $primary_1_1;
				background-color: transparent;

				&:hover {
					opacity: 1;
					cursor: default;
				}
				&::after {
					background-color: $primary_1_1;
				}
			}
		}
	}
}
