@import './color';
@import './classColor';
@import './reset';
@import './variables';
@import './anim';
@import './grid';

html,
body {
	padding: 0;
	margin: 0;
	font-size: 10px;
	color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	background-color: #000000;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.grid-layout {
	display: grid;
	grid-template-columns: 8fr 3fr;
	gap: $gap_32;
}

.grid-layout-2 {
	display: grid;
	grid-template-columns: 3fr 8fr;
	gap: $gap_24;
}

@media (max-width: 1024px) {
	.grid-layout-2 {
		grid-template-columns: 1fr;
	}
}

.table-color {
	background-color: $base_bg;
}

.flex {
	display: flex;
}

.text_center {
	text-align: center;
}

.overlay {
	position: fixed !important;
	z-index: 10000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: #15151517;
}

//progress Page
/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: $primary_1_1;

	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px $primary_1_1, 0 0 5px $primary_1_1;
	opacity: 1;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}

#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;

	border: solid 2px transparent;
	border-top-color: $primary_1_1;
	border-left-color: $primary_1_1;
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

select {
	background-color: $neutral_1 !important;
	min-width: 120px;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	padding: 10px 12px;
	border: 1px solid $neutral_2 !important;
	border-radius: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1.41%200.332031L6%204.91203L10.59%200.332031L12%201.74203L6%207.74203L0%201.74203L1.41%200.332031Z%22%20fill%3D%22%23CCCCCC%22%2F%3E%0A%3C%2Fsvg%3E');
	background-repeat: no-repeat;
	background-position-x: 90%;
	background-position-y: 50%;
}
option {
	background: #1b1b1d;
}

.ant-picker-input > input {
	color: white !important;
}

.ant-picker-clear {
	background-color: transparent !important;
}

.ant-picker-active-bar {
	background-color: $primary_1_1 !important;
}

.ant-picker-focused {
	box-shadow: none !important;
}

p {
	margin-bottom: 0;
}

a {
	&:hover {
		color: inherit;
	}
}

.header_sort {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header_only {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.modal {
	position: relative;
	z-index: 1000;
}
