.conatiner {
	margin-top: 8px;
	background-color: #fff;
	box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
	min-width: 400px;
	border-radius: 4px;
	padding: 12px 20px;

	.bottom {
		width: 100%;
		padding-top: 24px;
		padding-bottom: 12px;

		.total_price {
			display: flex;
			justify-content: space-between;

			.text {
				font-weight: 700;
				color: #000;
				font-size: 1.4rem;
			}

			.price {
				font-weight: 700;
				color: #000;
				font-size: 1.4rem;
				color: #d27474;
			}
		}
	}

	.control {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.buy {
			width: 100%;
			margin-right: 12px;
			background-color: #ed1c24;
		}

		.add {
			width: 100%;
			background-color: #5cb85c;
		}
	}
}
