$widthTab: 300px;
$widthTabHidden: 65px;
$heightHeader: 60px;

$gap_32: 32px;
$gap_24: 24px;

$widthTab: 300px;
$widthTabHidden: 65px;
$heightHeader: 60px;
$headerContact: 24px;

$gap_32: 32px;
$gap_24: 24px;
