@import '../../../styles/color';

.container {
	cursor: pointer;
	font-size: 1.3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid $neutral_2;
	background-color: $neutral_1;
	padding: 8px 12px;
	border-radius: 8px;

	.value {
		margin-left: 8px;
	}
}

.listOptions {
	position: relative;
	background-color: $neutral_2;
	width: 310px;
	padding: 8px 12px;
	border-radius: 8px;
	border: 1px solid $neutral_3;

	.item {
		padding: 8px;
		cursor: pointer;
		border-radius: 4px;
		color: $light;

		&.active {
			background-color: $neutral_4;
		}

		&:hover {
			background-color: $neutral_1;
		}
	}
}
