@import '../../styles/variables';

.header {
	margin-top: $heightHeader;
	background-image: url('../../public/static/images/page-shop-header-bg.jpg');
	padding: 46px 0 50px;
	background-color: #ebebeb;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.title_header {
		font-size: 4rem;
		color: #333;
		font-weight: 400;
	}

	.text_header {
		font-size: 2.4rem;
		font-weight: 500;
		color: #c66;
		margin-top: 8px;
	}
}

.container {
	margin-bottom: 24px;

	.pagination {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
