.container {
	background-color: rgb(215, 215, 215);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.loading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		min-width: 100px;
		min-height: 100px;
		max-width: 200px;
		max-height: 200px;
	}
}
