.container {
	padding: 24px 20px;
	background-color: #fff;
	border-radius: 8px;

	.title {
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 20px;
	}

	.item {
		display: flex;
		align-items: flex-end;
		gap: 6px;
		margin-bottom: 20px;

		.text_1 {
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			color: #7f8ea9;
		}

		.text_2 {
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: #151d34;
		}
	}

	.address_item {
		padding-left: 24px;

		.text_2 {
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: #151d34;
			margin-bottom: 4px;
		}
	}

	.main {
		margin-top: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
}
