.container {
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 30px;
	user-select: none;
	padding-left: 40px;
	margin-bottom: 21px;
}
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #777e90;
	background: #303133;
	border-radius: 3px;
}
.container:hover .checkmark {
	background: rgb(42, 42, 42);
}
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}
.container .checkmark:after {
	top: 50%;
	left: 50%;
	width: 8px;
	height: 10px;
	border: solid rgb(0, 0, 0);
	border-width: 0 3px 3px 0;
	transform: translate(-50%, -50%) rotate(45deg);
}
.container input:checked ~ .checkmark {
	background: #2cae39;
	border: 2px solid #2cae39;
}
.container input:checked ~ .checkmark:after {
	display: block;
}
