.container {
	padding: 24px 20px;
	background-color: #fff;
	border-radius: 8px;

	.title {
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 20px;
	}

	.main {
		padding: 0 20px;
	}

	.content {
		display: grid;
		grid-template-columns: 1fr 1fr;

		.left {
			.item {
				display: flex;
				align-items: flex-end;
				gap: 6px;
				margin-bottom: 20px;

				.text_1 {
					font-weight: 400;
					font-size: 14px;
					line-height: 16px;
					color: #7f8ea9;
				}

				.text_2 {
					font-weight: 500;
					font-size: 14px;
					line-height: 16px;
					color: #151d34;
				}
			}
		}

		.right {
			.item_2 {
				margin-bottom: 24px;
			}

			.text_3 {
				font-size: 14px;
				line-height: 16px;
				color: #7f8ea9;
				margin-bottom: 8px;
			}

			.text_4 {
				font-weight: 400;
				font-size: 14px;
				color: #323448;
			}
		}
	}
}

.group_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}
