@import './color';

//**********************
//* COLOR TEXT
//**********************

/*===========> PRIMARY <==========*/
.text_primary_1 {
	color: $primary_1;
}

.text_primary_1_1 {
	color: $primary_1_1;
}
.text_primary_2 {
	color: $primary_2;
}
.text_primary_3 {
	color: $primary_3;
}
.text_primary_3_1 {
	color: $primary_3_1;
}
.text_primary_4 {
	color: $primary_4;
}
.text_primary_5 {
	color: #bdff00;
}

/*===========> SECONDARY <==========*/
.text_secondary_1 {
	color: $secondary_1;
}

/*===========> NEUTRALS <==========*/
.text_neutrals_1 {
	color: $neutral_1;
}
.text_neutrals_2 {
	color: $neutral_2;
}
.text_neutrals_3 {
	color: $neutral_3;
}
.text_neutrals_4 {
	color: $neutral_4;
}

/*===========> OTHER <==========*/
.text_light {
	color: $light;
}

/*===========> SECONDARY <==========*/
.text_secondary_1 {
	color: $secondary_1 !important;
}

.text_secondary_3 {
	color: $secondary_3 !important;
}

.text_secondary_5 {
	color: $secondary_5 !important;
}
