@import '../../../../styles/color';

.container {
	border-radius: 20px;
	max-height: max-content;
	padding-bottom: 12px;
}

.head {
	padding: 24px;
	color: $neutral_6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;

	h2 {
		color: $neutral_6;
		font-size: 2rem;
		font-weight: 600;
		line-height: 2.4rem;
	}
}
