.box_value {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
	width: 100%;
	background-color: transparent;
	color: #6f767e;
}

// .box_select {
// margin-top: 0;
// padding: 10px;
// background: #f8f8f9;
// box-shadow: 0px 2px 8px rgba(163, 169, 181, 0.08), 0px 20px 32px rgba(163, 169, 181, 0.24);
// }
