.container {
	font-size: 16px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	p {
		margin-top: 12px;
	}
}

.btn {
	margin-top: 24px;
}

.title {
	text-align: center;
	font-size: calc(120px + 2vmin);
}
