.container {
	margin-top: 60px;

	.title {
		text-align: center;
		font-size: 3rem;
		font-weight: 600;
		margin-bottom: 16px;
	}

	.tab {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 24px;
	}

	.pagination {
		margin-top: 28px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
