.tfoot {
	user-select: none;
	display: flex;
	margin-top: 24px;
	align-items: center;
	color: #d2d2d2;
	> * {
		flex: 0 0 fit-content;
	}
	> .expan {
		flex: 1 1 fit-content;
	}
	.limit_info {
		display: flex;
		align-items: center;
		height: fit-content;
		font-size: 1.4rem;
	}
	.limit {
		select {
			margin-right: 8px;
			margin-left: 4px;
		}
	}
	.pagination {
		display: flex;
		gap: 16px;
		flex-wrap: nowrap;
		align-items: center;
		font-size: 1.4rem;
		.groupControls {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.page {
			background: #141416;
			border: 1px solid #303133;
			border-radius: 6px;
			padding: 8px 20px;
			height: 40px;
			margin-right: 8px;
		}
		.prev_next {
			display: flex;
			flex-wrap: nowrap;
			cursor: pointer;
			> * {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 8px 12px;
				height: 40px;
				background: #303133;
				color: #777e90;
			}
			> *.active {
				background: radial-gradient(72.29% 96.43% at 50.5% 3.57%, #ffd166 0%, #d0a132 100%)
					/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
				color: #0d0d0e;
			}
			> *:first-child {
				border-radius: 6px 0px 0px 6px;
			}
			> *:last-child {
				border-radius: 0px 6px 6px 0px;
			}
		}
	}
}

@media (max-width: 1023px) {
	.tfoot {
		flex-direction: column;
		align-items: stretch;
		> .expan {
			flex: 1;
		}
		.limit {
			margin-bottom: 24px;
		}
		.limit_info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		.pagination {
			margin-top: 24px;
			flex: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
